<div class="row footer center">
	<div class="section narrow">
		<div class="center">
			
			<div>
				<ul>
					<li>
						<a href="https://github.com/codyjamestechnical" target="_blank">
							<i class="fab footer-icon fa-github"></i>
							<span> Follow Me</span>
						</a>
					</li>
					
				</ul>
			</div>
			<hr class="small">
			<div>
				<a href="/" class="logo">
					<img class="footer-logo" src="{{asset "images/site-footer.svg"}}" alt="">
				</a>
				<p>
					Cody James Technical ©2018 | <a class="opacity-2" href="#">Attributions</a>
				</p>
				
			</div>
			
			
			<!-- <br>
			<hr class="small">
			Cody James Technical ©2018 -->
		</div>
	</div>
	
</div>