<div class="row header">
	<div class="section">
		<nav>
			<a href="{{@blog.url}}" class="logo">
				<img src="{{@blog.logo}}" alt="">
			</a>
			
			<label for="menu-toggle" id="menu-toggle-label"></label>
			<input type="checkbox" id="menu-toggle">
			<div class="icon-menu"></div>
			<ul class="menu">
				{{navigation}}
				
			</ul>
			
		</nav>
	</div>
</div>