{{!< default}}
<div class="row hero bg-black">
	<div class="section center">
		<h1>Photo And Component Attributions</h1>
	</div>
</div>
<div class="page">
	<div class="row">
		<div class="section center">
			<div class="autogrid padded">
				<div class="col">
					<img src="{{asset "images/project-icon.svg"}}" alt="" class="medium">
					<br>
					<img src="{{asset "images/computer.svg"}}" alt="" class="medium">
					<br>
					<img src="{{asset "images/repair.svg"}}" alt="" class="medium">
					<br>
					<img src="{{asset "images/software.svg"}}" alt="" class="medium">
					<br>
					<h2>Provided By</h2>
					<div>
						Icons made by <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a> from
						<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>